<p style="color: green"><%= notice %></p>

<% content_for :title, @count.positive? ? "#{@count} • Messages" : "Messages" %>
<%= turbo_stream_from :messages %>

<h1>Messages</h1>

<div>
  <%= button_to "New message", messages_path %>
</div>

<ul id="messages">
  <%= render @messages %>
</ul>

<%# Uncomment to test turbo stream broadcasts %>
<%# console %>
